html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font: 14.3px/23.8px Helvetica, sans-serif;
}
body {
    overflow: auto;
    -webkit-perspective: 1px;
    perspective: 1px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
body * {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.prlx_block_1 {
    -webkit-transform: translateZ(-0.4px) scale(1.4);
    transform: translateZ(-0.4px) scale(1.4);
    z-index: 2;
    top: 200px;
    left: 200px;
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: #6ecadc;
    border-radius: 50%;
}
.prlx_block_2 {
    -webkit-transform: translateZ(0.2px) scale(0.8);
    transform: translateZ(0.2px) scale(0.8);
    z-index: 3;
    top: 200px;
    left: 500px;
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: #3eb991;
    border-radius: 50%;
}
.prlx_block_3 {
    -webkit-transform: translateZ(0.5px) scale(0.5);
    transform: translateZ(0.5px) scale(0.5);
    z-index: 4;
    top: 80px;
    left: 900px;
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: #e01563;
    border-radius: 50%;
}
.prlx_block_4 {
    -webkit-transform: translateZ(-0.9px) scale(1.9);
    transform: translateZ(-0.9px) scale(1.9);
    z-index: 5;
    top: 150px;
    left: 900px;
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: #e9a820;
    border-radius: 50%;
}
.content_block {
    display: inline-block;
    width: 450px;
    height: 300px;
    margin-left: 20px;
    opacity: 0.5;
}
.slack_blue {
    background-color: #6ecadc;
}
.slack_green {
    background-color: #3eb991;
}
.slack_red {
    background-color: #e01563;
}
.slack_yellow {
    background-color: #e9a820;
}
.horizontal_scroll {
    overflow: hidden;
    width: auto;
}
.prlx_enabler {
    overflow: auto;
    -webkit-perspective: 1px;
    perspective: 1px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    white-space: nowrap;
}
.vertical_scroll {
    position: relatve;
    overflow: scroll;
}
.block_css {
    position: relatve;
    width: 450px;
    height: 300px;
    overflow: scroll;
    margin: 0 auto;
    font-size: 13px !important;
    line-height: 24.1px !important;
    color: #5F6A7D !important;
    border: 1px solid #ddd;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
    white-space: normal;
}
h1 {
    color: #2E3B4E;
    font-weight: 300;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 10px;
}
h2 {
    font-weight: 300;
}
p {
    font-size: 13px !important;
    line-height: 24.1px !important;
    color: #5F6A7D !important;
}


/***************************
  iOS mockups
***************************/

.ios_nav_b {
    position: fixed;
    width: 100%;
    height: 15px;
    z-index: 101;
}
.ios_nav_b .one {
    width: 71px;
    margin-left: 5px;
    position: absolute;
    top: 6.4px;
}
.ios_nav_b .two {
    width: 42px;
    text-align: center;
    display: block;
    position: absolute;
    top: 7px;
    left: 50%;
    margin-left: -21px;
}
.ios_nav_b .three {
    width: 47px;
    position: absolute;
    right: 5px;
    top: 6px;
}
.cc_nav {
    position: fixed;
    width: 100%;
    height: 15px;
    z-index: 101;
}
.menu_burger {
    color: #F78C24;
    position: absolute;
    font-size: 20px;
    padding-top: 33px;
    padding-left: 10px;
}
.going_back {
    position: absolute;
    color: #F78C24;
    font-size: 31px;
    top: 26px;
    left: 10px;
    opacity: 0;
}
.cc_nav_cen {
    text-align: center;
    color: #F78C24;
    font-size: 23px;
    font-weight: 100;
    padding-top: 33px;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -o-transition: 0.5s all;
    transition: 0.5s all;
}
.cc_sort {
    position: absolute;
    top: 31px;
    border: 2px solid #F78C24;
    color: #F78C24;
    padding: 1px 10px;
    line-height: 22px;
    height: 26px !important;
    border-radius: 4px;
    right: 10px;
}
.innr_block_61p_fixed {
    width: 100%;
    position: fixed;
    height: 61px;
    z-index: 100;
    background: #FBFBFB;
}
.innr_block_61p {
    width: 100%;
    position: relative;
    height: 61px;
}








