html,
body
{
  padding: 0;
  margin: 0;
      font: 14.3px/23.8px Helvetica, sans-serif !important;
    text-rendering: optimizeLegibility;
    background: #FBFBFB;
    
  background-color:#fbfbfb;
}

body
{
    overflow-x: hidden;
    background: #FBFBFB;
    background-color: #fbfbfb !important;
}
.scroll
{
    position: fixed;
    top: 61px;
    left: 0;
}
.horizon
{
  z-index: 1;
  width: 5000px;
}

.middle
{
  z-index: 500;
  width: 6000px;
}

.front
{
    z-index: 1000;
    width: 9000px;
}
.ios_nav_b {
    position: fixed;
    width: 100%;
    height: 15px;
    z-index: 101;
}
.ios_nav_b .one {
    width: 71px;
    margin-left: 5px;
    position: absolute;
    top: 6.4px;
}
.ios_nav_b .two {
    width: 42px;
    text-align: center;
    display: block;
    position: absolute;
    top: 7px;
    left: 50%;
    margin-left: -21px;
}
.ios_nav_b .three {
    width: 47px;
    position: absolute;
    right: 5px;
    top: 6px;
}
.cc_nav {
    position: fixed;
    width: 100%;
    height: 15px;
    z-index: 101;
}
.menu_burger {
    color: #F78C24;
    position: absolute;
    font-size: 20px;
    padding-top: 33px;
    padding-left: 10px;
}
.going_back {
    position: absolute;
    color: #F78C24;
    font-size: 31px;
    top: 26px;
    left: 10px;
    opacity: 0;
}
.cc_nav_cen {
    text-align: center;
    color: #F78C24;
    font-size: 23px;
    font-weight: 100;
    padding-top: 33px;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -o-transition: 0.5s all;
    transition: 0.5s all;
}
.cc_sort {
    position: absolute;
    top: 31px;
    border: 2px solid #F78C24;
    color: #F78C24;
    padding: 1px 10px;
    line-height: 22px;
    height: 26px !important;
    border-radius: 4px;
    right: 10px;
}
.horiz_tl {
    width: 9000px;
    height: 50px;
    background: #FBFBFB;
    text-align: left;
    color: #F78C24;
}
.innr_block_61p_fixed {
    width: 100%;
    position: fixed;
    height: 61px;
    z-index: 100;
    background: #FBFBFB;
}
.innr_block_61p {
    width: 100%;
    position: relative;
    height: 61px;
}



























