html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font: 14.3px/23.8px Helvetica, sans-serif;
}
body {
    overflow: auto;
    -webkit-perspective: 1px;
    perspective: 1px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
body * {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.prlx_block_1 {
    -webkit-transform: translateZ(-0.4px) scale(1.4);
    transform: translateZ(-0.4px) scale(1.4);
    z-index: 2;
    top: 415px;
    left: 532px;
    position: absolute;
    background-color: transparent;
    display: inline-block;
    white-space: nowrap;
}
.content_block {
    display: inline-block;
    width: 660px;
    max-height: 410px;
    margin-left: 10px;
    background: #ddd;
    margin-top: 10px;
    height: 350px;
    overflow: hidden;
    position: relative;
}
.horizontal_scroll {
    overflow: hidden;
    width: auto;
    height: 705px;
}
.prlx_enabler {
    overflow: auto;
    -webkit-perspective: 1px;
    perspective: 1px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    white-space: nowrap;
    height: 100%;
    position: relative;
}
.vertical_scroll {
    position: relatve;
    overflow: scroll;
}
.block_css {
    position: relatve;
    width: 450px;
    height: 300px;
    overflow: scroll;
    margin: 0 auto;
    font-size: 13px !important;
    line-height: 24.1px !important;
    color: #5F6A7D !important;
    border: 1px solid #ddd;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
    white-space: normal;
}
h1 {
    color: #2E3B4E;
    font-weight: 300;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 10px;
}
h2 {
    font-weight: 300;
}
p {
    font-size: 13px;
    line-height: 24.1px;
    color: #5F6A7D;
}


/***************************
  iOS mockups
***************************/

.ios_nav_b {
    position: fixed;
    width: 100%;
    height: 15px;
    z-index: 101;
}
.ios_nav_b .one {
    width: 71px;
    margin-left: 5px;
    position: absolute;
    top: 6.4px;
}
.ios_nav_b .two {
    width: 42px;
    text-align: center;
    display: block;
    position: absolute;
    top: 7px;
    left: 50%;
    margin-left: -21px;
}
.ios_nav_b .three {
    width: 47px;
    position: absolute;
    right: 5px;
    top: 6px;
}
.cc_nav {
    position: fixed;
    width: 100%;
    height: 15px;
    z-index: 101;
}
.menu_burger {
    color: #F78C24;
    position: absolute;
    font-size: 20px;
    padding-top: 33px;
    padding-left: 10px;
}
.going_back {
    position: absolute;
    color: #F78C24;
    font-size: 31px;
    top: 26px;
    left: 10px;
    opacity: 0;
}
.cc_nav_cen {
    text-align: center;
    color: #F78C24;
    font-size: 23px;
    font-weight: 100;
    padding-top: 33px;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -o-transition: 0.5s all;
    transition: 0.5s all;
}
.cc_sort {
    position: absolute;
    top: 31px;
    border: 2px solid #F78C24;
    color: #F78C24;
    padding: 1px 10px;
    line-height: 22px;
    height: 26px !important;
    border-radius: 4px;
    right: 10px;
}
.innr_block_61p_fixed {
    width: 100%;
    position: fixed;
    height: 61px;
    z-index: 100;
    background: #FBFBFB;
}
.innr_block_61p {
    width: 100%;
    position: relative;
    height: 61px;
}
.ipad_mockup_frame {
    position: relative;
    width: 1024px;
    margin: 0 auto;
    height: 768px;
    border: 1px solid #ddd;
    background-color: #fbfbfb;
    margin-top: 50px;
}
.smaller_title {
    width: 390px;
    position: relative;
    display: inline-block;
    margin-right: 7px;
    white-space: normal;
}
.smaller_title .left {
    position: relative;
    float: left;
    width: 70px;
}
.smaller_title .left .st_img {
    width: 70px;
    background-size: cover;
    background-position: center center;
    height: 105px;
    z-index: 1;
    float: left;
}
.smaller_title .middle {
    float: left;
    width: calc(100% - 120px);
    padding-left: 15px;
    vertical-align: top;
}
.smaller_title .right {
    position: relative;
    float: left;
    width: 50px;
}
.ad_ma {
    color: #333;
    font-size: 18px;
    vertical-align: top;
    margin-top: -1px;
    font-weight: 100;
}
.cc_review {
    width: 100%;
    clear: both;
    float: none;
    display: inline-block;
    font-size: 7.5px;
    padding-bottom: 3px;
    color: #F78C24;
    line-height: 18px;
}
.smaller_title p {
    font-size: 11.4px;
    line-height: 22px;
    font-weight: 400;
}

.oh_if {
    position: absolute;
    width: 106%;
    height: 106%;
    overflow: hidden;
    margin-top: -3%;
    margin-left: -3%;
}
.cover_layer {
    position: absolute;
    background: transparent;
    height: 100%;
    width: 100%;
    z-index: 2;
    width: 100%;
    background-size: cover;
    background-position: center center;
    height: 100%;
    text-align: center;
    z-index: 10;
    position: relative;
    margin-bottom: 6px;
}
.title_cover_p {
    width: 100%;
    background-size: cover;
    background-position: center center;
    height: 100%;
    text-align: center;
    z-index: 10;
    position: relative;
    margin-bottom: 6px;
}
.dramatic_obi_fixed_s {
    height: 230px;
    left: 0px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    z-index: 30;
    background: transparent linear-gradient(to bottom, transparent 0px, #000 100%) repeat scroll 0px 0px;
    opacity: 0.7;
    text-align: left;
}
.content_holder_for_big_titles {
    position: absolute;
    bottom: 0px;
    width: 100%;
    z-index: 31;
    height: 195px;
    padding-left: 18px;
}
.content_holder_for_big_titles h1 {
text-align: left;
color: #fff;
font-weight: 200;
font-size: 28px;
margin-top: 50px;
margin-bottom: 10px;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.content_holder_for_big_titles .rating {
text-align: left;
color: #F78C24;
font-size: 10px;
letter-spacing: 2.4px;
margin-bottom: 5px;
}
.content_holder_for_big_titles p {
    white-space: normal;
    font-size: 11.7px;
    font-weight: 300;
    color: #fff;
    text-align: left;
    padding-right: 100px;
    max-width: 470px;
}
.player_ic {
    width: 40px;
    height: 40px;
    position: absolute;
    background-size: 40px 40px;
    background-repeat: no-repeat;
    background-image: url("../img/player.png");
    bottom: 35px;
    z-index: 33;
    right: 30px;
}













































